# Build folder.
/build/

# Test output folder.
/tests/data/

# Media folders.
/media
/media_internal

# Packman folders.
/external/packman/
/tools/.packman/

# IDE folders.
/.vs/
/.vscode/

# User files.
/CMakeUserPresets.json

# File types.
*.user
*.suo
*.pyc
*.VC.db
*.VC.opendb
*.pyc
*slang-dump-*
*.mp4
*.tlog
*.bak
*.swp
/scripts/data-generation/out_nm_512_2x32_e5_freeze1
/scripts/data-generation/out_nm_512_2x32_e40_efreeze5
/scripts/data-generation/out_nm_512_2x32_e20
